/* screen - event-page-event-chat */

.event-page-event-chat {
  align-items: flex-start;
  display: flex;
  height: 1020px;
  min-width: 1440px;
  overflow-x: hidden;
}

.event-page-event-chat .ellipse-70 {
  height: 1px;
  margin-left: -143px;
  margin-top: 510px;
  width: 1px;
}

.event-page-event-chat .overlap-group7 {
  height: 1101px;
  margin-left: 142px;
  margin-top: -62px;
  position: relative;
  width: 1692px;
}

.event-page-event-chat .browser-chrome-gray {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1020px;
  left: 0;
  min-width: 1440px;
  position: absolute;
  top: 62px;
}

.event-page-event-chat .overlap-group1 {
  height: 1020px;
  position: relative;
  width: 1440px;
}

.event-page-event-chat .page-bg {
  height: 943px;
  left: 0;
  position: absolute;
  top: 77px;
  width: 1440px;
}

.event-page-event-chat .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/tab-bar-11@2x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 78px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.event-page-event-chat .max-min-close {
  height: 14px;
  margin-left: 14px;
  margin-top: 13px;
  width: 70px;
}

.event-page-event-chat .search-bar {
  background-color: var(--hint-of-red);
  height: 38px;
  margin-top: 13px;
  width: 1440px;
}

.event-page-event-chat .ellipse-69 {
  height: 572px;
  left: 1071px;
  position: absolute;
  top: 0;
  width: 621px;
}

.event-page-event-chat .group {
  height: 926px;
  left: 118px;
  position: absolute;
  top: 175px;
  width: 1224px;
}

.event-page-event-chat .rectangle-4168 {
  background-color: var(--white);
  border-radius: 18px;
  box-shadow: 0px 8px 30px #4f55880f;
  height: 900px;
  left: 275px;
  position: absolute;
  top: 183px;
  width: 893px;
}

.event-page-event-chat .rectangle-4174 {
  background-color: var(--white);
  border-radius: 18px;
  box-shadow: 0px 8px 30px #2524244c;
  height: 523px;
  left: 346px;
  position: absolute;
  top: 464px;
  width: 349px;
}

.event-page-event-chat .group-33468 {
  height: 36px;
  left: 292px;
  position: absolute;
  top: 276px;
  width: 95px;
}

.event-page-event-chat .oval-copy-4 {
  height: 39px;
  left: 362px;
  object-fit: cover;
  position: absolute;
  top: 661px;
  width: 41px;
}

.event-page-event-chat .group-34087 {
  height: 36px;
  left: 418px;
  position: absolute;
  top: 661px;
  width: 199px;
}

.event-page-event-chat .ellipse-1 {
  height: 39px;
  left: 630px;
  position: absolute;
  top: 554px;
  width: 39px;
}

.event-page-event-chat .group-34088 {
  height: 69px;
  left: 403px;
  position: absolute;
  top: 556px;
  width: 223px;
}

.event-page-event-chat .group-34133 {
  align-items: flex-end;
  display: flex;
  height: 36px;
  left: 367px;
  min-width: 202px;
  position: absolute;
  top: 483px;
}

.event-page-event-chat .group-34086 {
  height: 36px;
  margin-bottom: -4px;
  width: 95px;
}

.event-page-event-chat .group-34085 {
  height: 36px;
  margin-bottom: -4px;
  margin-left: 12px;
  width: 95px;
}

.event-page-event-chat .maps-full-map {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 500px;
  left: 740px;
  position: absolute;
  top: 490px;
  width: 337px;
}

.event-page-event-chat .overlap-group3 {
  height: 500px;
  position: relative;
  width: 337px;
}

.event-page-event-chat .maps-zoom-levels-2-city {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 500px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 337px;
}

.event-page-event-chat .map-of-birmingham-city {
  height: 699px;
  margin-left: -359px;
  margin-top: -99px;
  object-fit: cover;
  width: 1056px;
}

.event-page-event-chat .controls-google-maps-byline {
  align-items: flex-start;
  display: flex;
  height: 15px;
  left: 50px;
  min-width: 287px;
  position: absolute;
  top: 485px;
}

.event-page-event-chat .overlap-group2 {
  align-items: flex-end;
  background-color: var(--wild-sand);
  display: flex;
  height: 15px;
  min-width: 121px;
  padding: 0 5px;
}

.event-page-event-chat .map-data-2019-google {
  letter-spacing: 0;
  min-height: 12px;
  min-width: 111px;
}

.event-page-event-chat .overlap-group-2 {
  align-items: flex-end;
  background-color: var(--wild-sand);
  display: flex;
  height: 15px;
  margin-left: 1px;
  min-width: 70px;
  padding: 0 5px;
}

.event-page-event-chat .terms-of-use {
  letter-spacing: 0;
  min-height: 12px;
  min-width: 60px;
}

.event-page-event-chat .overlap-group1-1 {
  align-items: flex-end;
  background-color: var(--wild-sand);
  display: flex;
  height: 15px;
  margin-left: 1px;
  min-width: 94px;
  padding: 0 5px;
}

.event-page-event-chat .report-a-map-error {
  letter-spacing: 0;
  min-height: 12px;
  min-width: 84px;
}

.event-page-event-chat .controls-google-logo-color {
  height: 26px;
  left: 2px;
  position: absolute;
  top: 237px;
  width: 66px;
}

.event-page-event-chat .controls {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 301px;
  min-height: 89px;
  position: absolute;
  top: 8px;
  width: 28px;
}

.event-page-event-chat .controls-zoom-controls {
  align-items: center;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 1px 3px #00000033;
  display: flex;
  flex-direction: column;
  min-height: 53px;
  padding: 8px 0;
  width: 28px;
}

.event-page-event-chat .union-1 {
  height: 10px;
  width: 10px;
}

.event-page-event-chat .rectangle-2 {
  background-color: var(--mercury);
  height: 1px;
  margin-top: 8px;
  width: 20px;
}

.event-page-event-chat .union-2 {
  height: 2px;
  margin-top: 12px;
  width: 10px;
}

.event-page-event-chat .controls-street-view {
  align-items: center;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 1px 3px #00000033;
  display: flex;
  height: 28px;
  margin-top: 8px;
  min-width: 28px;
  padding: 0 8px;
}

.event-page-event-chat .pegman-offscreen-2x {
  height: 20px;
  object-fit: cover;
  width: 12px;
}

.event-page-event-chat .controls-map-type {
  align-items: center;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 1px 3px #00000033;
  display: flex;
  height: 29px;
  left: 8px;
  min-width: 94px;
  padding: 0 8px;
  position: absolute;
  top: 8px;
}

.event-page-event-chat .map {
  letter-spacing: 0;
  min-height: 13px;
  min-width: 22px;
  text-align: center;
}

.event-page-event-chat .line {
  height: 29px;
  margin-left: 8px;
  width: 1px;
}

.event-page-event-chat .satellite {
  letter-spacing: 0;
  margin-left: 7px;
  min-height: 13px;
  min-width: 40px;
  text-align: center;
}

.event-page-event-chat .maps-markers-spotlight-marker {
  align-items: center;
  display: flex;
  height: 43px;
  left: 882px;
  padding: 0 1px;
  position: absolute;
  top: 610px;
  width: 27px;
}

.event-page-event-chat .overlap-group {
  height: 41px;
  position: relative;
  width: 25px;
}

.event-page-event-chat .ellipse-2 {
  height: 5px;
  left: 8px;
  position: absolute;
  top: 36px;
  width: 9px;
}

.event-page-event-chat .union {
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.event-page-event-chat .ellipse-3 {
  background-color: var(--black-3);
  border-radius: 4.5px;
  height: 9px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 9px;
}

.event-page-event-chat .maps-markers-spotlight-marker-1 {
  align-items: center;
  display: flex;
  height: 43px;
  left: 781px;
  padding: 0 1px;
  position: absolute;
  top: 850px;
  width: 27px;
}

.event-page-event-chat .line-89 {
  height: 145px;
  left: 895px;
  position: absolute;
  top: 650px;
  width: 79px;
}

.event-page-event-chat .line-90 {
  height: 70px;
  left: 851px;
  position: absolute;
  top: 793px;
  width: 121px;
}

.event-page-event-chat .line-91 {
  height: 42px;
  left: 797px;
  position: absolute;
  top: 851px;
  width: 68px;
}

.event-page-event-chat .png-item_4193000-1 {
  height: 1px;
  left: 816px;
  object-fit: cover;
  position: absolute;
  top: 814px;
  width: 1px;
}

.event-page-event-chat .btnbase {
  align-items: center;
  background-color: var(--red);
  border-radius: 100px;
  display: flex;
  height: 28px;
  left: 900px;
  min-width: 140px;
  padding: 0 20px;
  position: absolute;
  top: 845px;
}

.event-page-event-chat .button {
  letter-spacing: 0;
  line-height: 12px;
  min-height: 12px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}

.event-page-event-chat .group-33326 {
  height: 202px;
  left: 346px;
  position: absolute;
  top: 245px;
  width: 1139px;
}

.event-page-event-chat .header {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 107px;
  left: 0;
  min-width: 1440px;
  padding: 7px 11.5px;
  position: absolute;
  top: 103px;
}

.event-page-event-chat .overlap-group4 {
  align-self: flex-end;
  height: 89px;
  position: relative;
  width: 353px;
}

.event-page-event-chat .rectangle-4259 {
  background-color: var(--white);
  height: 32px;
  left: 0;
  position: absolute;
  top: 38px;
  width: 269px;
}

.event-page-event-chat .overlap-group-3 {
  align-items: flex-end;
  background-image: url(../img/sam-logo-3-3@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  left: 16px;
  min-height: 89px;
  padding: 13.4px 6.0px;
  position: absolute;
  top: 0;
  width: 129px;
}

.event-page-event-chat .s-a-m {
  -webkit-text-stroke: 1px var(--shark);
  letter-spacing: 0;
  min-height: 20px;
  transform: rotate(-4.82deg);
  width: 58px;
}

.event-page-event-chat .a-p-p {
  -webkit-text-stroke: 1px var(--concrete);
  letter-spacing: 0;
  margin-right: 8.12px;
  margin-top: 5px;
  min-height: 20px;
  transform: rotate(-3.97deg);
  width: 58px;
}

.event-page-event-chat .side-nav-items {
  align-items: flex-start;
  background-image: url(../img/rectangle-16@2x.png);
  background-size: 100% 100%;
  border-radius: 39px;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  left: 176px;
  min-width: 177px;
  padding: 13.5px 0;
  position: absolute;
  top: 19px;
}

.event-page-event-chat .active-nav-item {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.event-page-event-chat .location {
  background-image: url(../img/location-1@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 194px;
  position: absolute;
  top: 33px;
  width: 16px;
}

.event-page-event-chat .side-nav-items-1 {
  align-items: flex-start;
  background-image: url(../img/rectangle-16@2x.png);
  background-size: 100% 100%;
  border-radius: 39px;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  margin-bottom: 2.0px;
  margin-left: 27px;
  min-width: 177px;
  padding: 11.5px 0;
}

.event-page-event-chat .icon {
  height: 24px;
  width: 24px;
}

.event-page-event-chat .active-nav-item-1 {
  align-self: center;
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 2.0px;
  margin-left: 11px;
  white-space: nowrap;
  width: 176px;
}

.event-page-event-chat .overlap-group5 {
  height: 42px;
  margin-left: 432px;
  margin-top: 1.0px;
  position: relative;
  width: 183px;
}

.event-page-event-chat .rectangle-4198 {
  background-color: var(--red);
  border-radius: 50px;
  height: 32px;
  left: 1px;
  position: absolute;
  top: 5px;
  width: 182px;
}

.event-page-event-chat .group-34078 {
  align-items: flex-start;
  background-color: var(--red);
  border-radius: 21px;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  left: 0;
  min-width: 42px;
  padding: 10.5px 10.5px;
  position: absolute;
  top: 0;
}

.event-page-event-chat .overlap-group2-1 {
  height: 21px;
  position: relative;
  width: 21px;
}

.event-page-event-chat .oval {
  height: 19px;
  left: 0;
  position: absolute;
  top: 0;
  width: 19px;
}

.event-page-event-chat .shape {
  height: 7px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 7px;
}

.event-page-event-chat .group-34070 {
  align-items: flex-start;
  background-color: var(--red);
  border-radius: 18px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-bottom: 3.0px;
  margin-left: 30px;
  min-width: 36px;
  padding: 5px 6.0px;
}

.event-page-event-chat .overlap-group1-2 {
  height: 21px;
  position: relative;
  width: 20px;
}

.event-page-event-chat .group-1 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 15px;
}

.event-page-event-chat .ellipse-47 {
  background-color: var(--downy);
  border-radius: 4.5px;
  height: 13px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 13px;
}

.event-page-event-chat .group-34079 {
  align-items: center;
  background-color: var(--red);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-bottom: 3.0px;
  margin-left: 37px;
  min-width: 36px;
  padding: 0 6px;
}

.event-page-event-chat .combined-shape-2 {
  background-image: url(../img/combined-shape-15@2x.png);
  background-size: 100% 100%;
  height: 19px;
  margin-bottom: 5.8px;
  margin-left: 46px;
  opacity: 0.94;
  width: 24px;
}

.event-page-event-chat .back {
  height: 36px;
  left: 1363px;
  position: absolute;
  top: 66px;
  width: 35px;
}

.event-page-event-chat .overlap-group6 {
  height: 65px;
  left: 0;
  position: absolute;
  top: 1013px;
  width: 1440px;
}

.event-page-event-chat .rectangle-4260 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 1440px;
}

.event-page-event-chat .copyright-2022 {
  height: 20px;
  left: 669px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
  width: 176px;
}
