/* screen - events-chat */

.events-chat {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.events-chat .overlap-group2 {
  height: 222px;
  margin-top: -75px;
  position: relative;
  width: 425px;
}

.events-chat .ellipse-69 {
  height: 209px;
  left: 198px;
  position: absolute;
  top: 0;
  width: 227px;
}

.events-chat .title-bar-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 80px;
  position: absolute;
  top: 75px;
  width: 375px;
}

.events-chat .group-33617 {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  min-width: 375px;
  padding: 12px 15.3px;
}

.events-chat .time {
  align-self: flex-end;
  letter-spacing: -0.30px;
  min-height: 18px;
  text-align: center;
  width: 54px;
}

.events-chat .cellular-connection {
  height: 11px;
  margin-left: 218px;
  margin-top: 2.0px;
  width: 17px;
}

.events-chat .wifi {
  height: 11px;
  margin-left: 5px;
  margin-top: 1.66px;
  width: 15px;
}

.events-chat .battery {
  align-items: center;
  display: flex;
  margin-left: 5px;
  margin-top: 2.0px;
  min-width: 24px;
}

.events-chat .overlap-group {
  align-items: flex-start;
  border-radius: 2.67px;
  display: flex;
  height: 11px;
  min-width: 22px;
  padding: 1px;
}

.events-chat .capacity {
  background-color: var(--ebony);
  border-radius: 1.33px;
  height: 7px;
  width: 18px;
}

.events-chat .cap {
  height: 4px;
  margin-bottom: 0;
  margin-left: 1px;
  width: 1px;
}

.events-chat .group-34117 {
  align-items: center;
  display: flex;
  height: 30px;
  margin-left: 24px;
  margin-top: 5px;
  min-width: 212px;
}

.events-chat .back {
  height: 22px;
  width: 22px;
}

.events-chat .hello-ashfak {
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 30px;
  min-width: 167px;
}

.events-chat .group-33468 {
  height: 36px;
  left: 127px;
  position: absolute;
  top: 134px;
  width: 95px;
}

.events-chat .group-34133 {
  align-items: flex-end;
  display: flex;
  height: 36px;
  left: 38px;
  min-width: 202px;
  position: absolute;
  top: 186px;
}

.events-chat .group-34086 {
  height: 36px;
  margin-bottom: -4px;
  width: 95px;
}

.events-chat .group-34085 {
  height: 36px;
  margin-bottom: -4px;
  margin-left: 12px;
  width: 95px;
}

.events-chat .flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 71px;
  margin-left: 29.25px;
  margin-top: 58px;
  min-width: 266px;
}

.events-chat .group-34088 {
  align-self: flex-end;
  height: 69px;
  width: 223px;
}

.events-chat .ellipse-1 {
  height: 39px;
  margin-left: 4px;
  width: 39px;
}

.events-chat .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 28.0px;
  margin-top: 36px;
  min-width: 255px;
}

.events-chat .oval-copy-4 {
  height: 39px;
  object-fit: cover;
  width: 41px;
}

.events-chat .group-34087 {
  height: 36px;
  margin-left: 15px;
  margin-top: 0;
  width: 199px;
}

.events-chat .group-34084 {
  align-items: flex-start;
  display: flex;
  height: 10px;
  margin-top: 332px;
  min-width: 381px;
}

.create-new-event .overlap-group1 {
  height: 272px;
  left: -6px;
  position: absolute;
  top: 220px;
  width: 381px;
}


.create-new-event-1 .rectangle-4263 {
  background-color: var(--ebb);
  filter: blur(100px);;
  height: 123px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 375px;
}

.create-new-event-1 .group-34082 {
  height: 123px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 381px;
}
