/* screen - resset-password */

.resset-password {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 375px;
}

.resset-password .overlap-group2 {
  height: 263px;
  margin-left: -54px;
  margin-top: -75px;
  position: relative;
  width: 479px;
}

.resset-password .ellipse-66 {
  height: 174px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 189px;
}

.resset-password .ellipse-69 {
  height: 209px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 227px;
}

.resset-password .overlap-group2-item {
  height: 1px;
  left: 87px;
  position: absolute;
  top: 187px;
  width: 1px;
}

.resset-password .action-bar-without-title {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 54px;
  min-height: 75px;
  position: absolute;
  top: 75px;
  width: 375px;
}

.resset-password .group-33617 {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  min-width: 375px;
  padding: 12px 15.3px;
}

.resset-password .time {
  align-self: flex-end;
  letter-spacing: -0.30px;
  min-height: 18px;
  text-align: center;
  width: 54px;
}

.resset-password .cellular-connection {
  height: 11px;
  margin-left: 218px;
  margin-top: 2.0px;
  width: 17px;
}

.resset-password .wifi {
  height: 11px;
  margin-left: 5px;
  margin-top: 1.66px;
  width: 15px;
}

.resset-password .battery {
  align-items: center;
  display: flex;
  margin-left: 5px;
  margin-top: 2.0px;
  min-width: 24px;
}

.resset-password .overlap-group {
  align-items: flex-start;
  border-radius: 2.67px;
  display: flex;
  height: 11px;
  min-width: 22px;
  padding: 1px;
}

.resset-password .capacity {
  background-color: var(--ebony);
  border-radius: 1.33px;
  height: 7px;
  width: 18px;
}

.resset-password .cap {
  height: 4px;
  margin-bottom: 0;
  margin-left: 1px;
  width: 1px;
}

.resset-password .back {
  height: 22px;
  margin-left: 24px;
  margin-top: 9px;
  width: 22px;
}

.resset-password .group-33618 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 82px;
  min-height: 93px;
  position: absolute;
  top: 170px;
  width: 248px;
}

.resset-password .welcome-get-started {
  height: 30px;
  letter-spacing: 0;
}

.resset-password .please-enter-your-em {
  letter-spacing: 0;
  line-height: 25px;
  margin-top: 13px;
  min-height: 50px;
  width: 244px;
}

.resset-password .overlap-group3 {
  height: 338px;
  margin-top: 26px;
  position: relative;
  width: 375px;
}

.resset-password .ellipse-70 {
  height: 1px;
  left: 309px;
  position: absolute;
  top: 281px;
  width: 1px;
}

.resset-password .keyboardsi-phone-xlowercaselight {
  height: 291px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 375px;
  margin-top: 360px;
}

.resset-password .continue {
  color: var(--white);
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 20px;
  left: 163px;
  letter-spacing: 1.00px;
  position: absolute;
  text-align: center;
  top: 115px;
}

.resset-password .overlap-group1 {
  border-radius: 12px;
  height: 56px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 317px;
}

.resset-password .group-33330 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  left: 0;
  min-width: 317px;
  padding: 20.7px 46.9px;
  position: absolute;
  top: 0;
}

.resset-password .value {
  height: 14px;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
}

.resset-password .mail {
  height: 22px;
  left: 15px;
  position: absolute;
  top: 17px;
  width: 22px;
}

.resset-password .overlap-group1-1 {
  align-items: flex-start;
  background-image: url(../img/rectangle-44@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 90px;
  justify-content: flex-end;
  left: 54px;
  min-width: 271px;
  padding: 3px 13px;
  position: absolute;
  top: 116px;
}

.resset-password .continue-1 {
  height: 58px;
  letter-spacing: 1.00px;
  margin-top: 5px;
  min-width: 45px;
  text-align: center;
}

.resset-password .overlap-group-1 {

  background-color: white;
  border-radius: 16px;

  height: 0px;
  margin-left: 50px;
  min-width: 32px;
  
}

.resset-password .shape {
  height: 1px;
  width: 1px;
}

.resset-password .ellipse-71 {
  height: 174px;
  margin-left: -107px;
  margin-top: 192px;
  width: 189px;
}
